
body {
  font-family: Arial;
  background: linear-gradient(135deg, #c8b6ff, #bde0fe);
  text-align: center;
  padding: 20px;
}


h2, h3 {
  color: #5a189a;
}

input {
  padding: 10px;
  width: 200px;
  margin: 5px;
  border: 1px solid #a2d2ff;
  border-radius: 5px;
}


button {
  padding: 10px 20px;
  background: #a2d2ff;
  color: #240046;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    background:#cdb4db;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #cdb4db;
  color: #240046;
}

.alta{
    background: #ffadad !important;
}
.normal{
    background: #caffbf !important;
}
.baixa{
    background: #7fb7ec !important;
}
.btn-excluir{
      background: #c9c8c8;
  color: white;
}
.btn-excluir:hover{
   background: #c9c8c8;
}

@media (max-width: 768px){
  body {
    padding: 10px;
  }
  input {
    width: 90%;
   }
   table {
    width: 100%;
    border: none;
   }
   thead {
    display: none;
   }
   tr {
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
   }
   td {
     display: flex;
     justify-content: space-between;
     padding: 8px;
     border: none;
     border-bottom: 1px solid #eee;
   }
   td :last-child{
    border-bottom: none;
   }
   td::before {
    font-weight: bold;
    color: #5a189a;
   }

     td:nth-child(1)::before { content: "Data"; }
  td:nth-child(2)::before { content: "Nome"; }
  td:nth-child(3)::before { content: "Pressão"; }
  td:nth-child(4)::before { content: "BPM"; }
  td:nth-child(5)::before { content: "Respiração"; }
  td:nth-child(6)::before { content: "Ação"; }

  .btn-excluir {
    width: 100%;
    margin-top: 5px;
  }
}

